body {
    direction: rtl;
    /* שינוי כיוון הטקסט מימין לשמאל */
    text-align: right;
    /* הצגת הטקסט מימין */
}

html {
    min-width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
        url('../images/background-image.jpg');
    /* שילוב צבע שקוף עם תמונה */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: 'Quicksand', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

}



#form {
    margin: 0;
    /* מסיר מרווחים אנכיים */
    padding: 40px;
    min-width: 300px;
    max-width: 600px;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.6);
    text-align: center;
    margin-top: 100px;
    background: #ffffffc2;
    padding: 40px;
    min-width: 300px;
    max-width: 1000px;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.6);
    /* טקסט במרכז */
}


/* כפתורי ההרשמה */
button {
    width: 100%;
    height: 60px;
    background-color: #4728a7;
    color: #EDF6F9;
    font-weight: 200;
    font-size: 1.5rem;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #EDF6F9;
    color: #006D77;
}

/* כותרות */
h1,
h2 {
    font-family: 'Quicksand';
    text-align: center;
    color: #006D77;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

/* שדות הטקסט */
input[type="text"],
input[type="email"],
input[type="password"] {
    text-align: left;
    font-size: 1rem;
    display: block;
    width: 100%;
    height: 50px;
    padding: 5px 10px;
    margin-bottom: 15px;
    background: none;
    border: 1px solid rgb(77 185 201 / 28%);
    color: #343131;
    border-radius: 4px;
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #006D77;
    outline: none;
}

/* קישורים */
a {
    color: #83C5BE;
    text-decoration: none;
}

a:hover {
    color: #006D77;
    text-decoration: underline;
}

/* עיצוב העיגול המתגלגל */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    /* רקע חצי שקוף */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* וודא שה-overlay יהיה מעל הכל */
}

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* התאמה למסכים קטנים */
@media only screen and (max-width: 600px) {
    #form {
        padding: 20px;
        min-width: 300px;
    }

    button {
        font-size: 1rem;
    }
}